// 1 big flex container w/ 2 flex items

.admin__scheduling {
    margin-left: 15%;
    .admin__scheduling__form-container {

        .appointment__container{
            display: flex;
            flex-direction: column;
            .appt-list {
            max-width: 350px; 
            margin: auto; 
                .appt-list__card{
                    width: 200px;
                    margin: auto;
                }
            }
        }
    }
}