html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

nav {
  padding: 20px !important;
}

btn btn-lg btn-default {
  margin: auto !important;
  text-align: center !important;
}
