.sidebar {
    height: 100%;
    width: 14%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: @color-primary-2;
    color: @color-secondary-1-1;
    overflow-x: hidden;
    padding-top: 20px;
}